@import "nonPrint.css";

@media print {
  @page :left {
    margin: 0.5in;
  }
  @page :right {
      margin: 0.5in;
  }
  .hidePlease {
    display: none;
  }
  .blue {
    color: blue;
  }
  img {
      float: left;
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid;
  }
  .onlyPrint {
    display: block;
  }
}
