.green {
  color: green;
}
img {
  float: left;
}
@media print {
  .hidePlease {
    display: none;
  }
  .blue {
    color: blue;
  }
  img {
      float: left;
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid;
  }
}
